@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f2eadf;
  --color-secondary: #3e553f;
  --color-tertiary: #40434e;
  --font-playfair: "Playfair Display", serif;
}

.container {
  @apply px-3 lg:px-8 w-full;
  max-width: 100%;
}

@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}

body {
  @apply overflow-x-hidden;
}
