<footer
  class="bg-primary text-tertiary container w-full
         flex flex-col items-center gap-6
         py-8 font-open-sans text-center
         lg:h-[20vh] lg:flex-row lg:justify-between lg:items-center lg:text-left text-sm lg:text-base"
>
  <!-- Logo + copyright -->
  <div class="flex flex-col items-center gap-2 lg:items-start">
    <img src="/logo2.svg" alt="logo" class="h-14 w-auto lg:h-20 lg:w-auto" />
    <p class="text-sm">
      &copy; {new Date().getFullYear()} Quelqu'un
    </p>
  </div>

  <!-- Coordonnées -->
  <div class="flex flex-col gap-1 text-center">
    <a href="tel:+33760287270" class="hover:underline text-secondary">
      02.69.18.88.52
    </a>
    <p>10 rue d’Alsace-Lorraine</p>
    <p>31000 Toulouse</p>
    <a href="mailto:quelqu'un@gmail.com" class="hover:underline">
      quelqu'un@gmail.com
    </a>
  </div>

  <!-- Liens -->
  <div class="flex flex-col gap-1">
    <a href="/mentions-legales" class="hover:underline"> Mentions légales </a>
    <a
      href="mailto:yannickdeviguerie@gmail.com"
      class="hover:underline text-sm"
    >
      Réalisation : XYZ.Dev
    </a>
  </div>
</footer>
